@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap'); /* CSS Variables */
:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --grayish-blue: hsl(215, 17%, 81%);
  --light-gray: hsl(204, 43%, 93%);
  --main-font-family: 'Karla', sans-serif;
}
/*Core Styles*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  background-color: var(--light-gray);
}
h1, h2, h3, p, ul, li, button {
  font-family: var(--main-font-family);
  margin: 0;
  padding: 0;
}
.single-price-component {
  display: flex;
  justify-content: center;
}
.wrapper {
  width: 80%;
  margin-top: 5rem;
}
.top {
  background-color: white;
  padding: 10%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
h1 {
  font-size: 2.5rem;
  color: var(--cyan);
  margin: 0 0 1.75rem 0;
}
h3 {
  font-size: 1.75rem;
  color: var(--bright-yellow);
  font-weight: 700;
  margin: 0 0 1.75rem 0;
}
.top-announcement p {
  color: var(--grayish-blue);
  font-size: 1.6rem;
  line-height: 2.5rem;
}
.bottom-left {
  background-color: var(--cyan);
  padding: 10%;
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  margin: 0 0 1.75rem 0;

}
.bottom-left p {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: white;
}
.per-month {
  color: var(--light-gray);
}
.access {
  margin-top: .75rem;
}
.dollar {
  font-size: 4rem;
  font-weight: 700;
  margin-right: 1rem;
  color: white;
}
.btn {
  background-color: var(--bright-yellow);
  border-radius: 5px;
  padding: 1.25rem 0;
  margin-top: 2.5rem;
  min-width: 80%;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, .1);
}
.btn:hover {
  background-color: hsl(71, 59%, 48%);
  cursor: pointer;
}
.bottom-right {
  background-color: hsl(179, 62%, 43%, .9);
  padding: 10%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.bottom-right ul {
  list-style: none;
  color: var(--light-gray);
  font-size: 1.6rem;
}
.bottom-right ul li {
  padding: .25rem 0;
}
.attribution {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  color: var(--grayish-blue);
}
/* MEDIA QUERIES */

/*! ADD STYLES TO MAKE FONTS FIT IN DESKTOP VIEW */

@media all and (min-width: 750px) {
.bottom-announcement {
  display: flex;
}
.bottom-left {
  border-bottom-left-radius: 10px;
  width: 50%;
}
.bottom-right {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0px;
  width: 50%;
}
}