/* CSS Variables */
:root{
  --dark-green: hsl(179, 62%, 43%);
  --light-green: hsl(179, 75%, 43%);
  --bright-green: hsl(72, 73%, 54%);
  --dark-gray:  hsl(218, 22%, 67%);
  --light-gray:  hsl(204, 43%, 93%);
}
/*Core Styles*/
html {
  font-size: 10px;
  box-sizing: border-box;
}
body {
 margin: 0;
 font-family: 'Karla', sans-serif;
 background: var(--light-gray);
 color: var(--dark-gray);
 text-align: left;
 line-height: 1.5;
}
h1, h2, h3 {
  margin: 0;
  padding-bottom: 1.2rem;
  font-weight: bold;
}
p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1.6rem;
}
a {
  color: var(--dark-gray);
  text-decoration: none;
}
a:hover {
  color: var(--bright-green);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  color: var(--light-gray);
}
/* Mobile Styles */
#main {
  width: 80%;
  margin: 5rem auto;
}
.top-announcement {
  background: white;
  padding: 1.6rem 2rem;
  border-top-left-radius: .7rem;
  border-top-right-radius: .7rem;
}
.top-announcement h1 {
  font-size: 2.3rem;
  color: var(--dark-green);
}
.top-announcement h3 {
  font-size: 1.8rem;
  color: var(--bright-green);
}
.bottom-left {
  background: var(--dark-green);
  color: #fff;
  padding: 2rem 2rem;
  display: grid;
}
.sub-title {
  font-size: 2rem;
}
.bottom-left .dollar {
  font-weight: bold;
  font-size: 2.5rem;
  padding-right: 1rem;
}
.bottom-left .per-month {
  color: var(--light-gray);
}
.btn {
  background: var(--bright-green);
  border: none;
  border-radius: .5rem;
  margin: 1.6rem 0 .5rem 0;
  padding: 1.6rem 0;
  text-decoration: none;
  color: #fff;
  min-width: 80%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 1.3rem;
  justify-items: center;
}
.btn:hover {
  background: hsl(71, 94%, 41%);
  cursor:pointer;
}
.bottom-right {
  background: var(--light-green);
  color: #fff;
  padding: 2rem 2rem;
  border-bottom-left-radius: .7rem;
  border-bottom-right-radius: .7rem;
}
.attribution {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.attribution p {
  font-size: 1.2rem;
}
/* Media Queries*/
@media(min-width: 376px){
  #main{ 
    max-width: 70em;
  }
  .grid {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
  }
  .top-announcement {
    grid-column: 1/3;
  }
  .bottom-left {
    grid-column: 1/2;
    border-bottom-left-radius: .7rem;
  }
  .bottom-right {
    grid-column: 2/3;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: .7rem;
  }
}
